<a href="https://colab.research.google.com/github/Gaukhar-ai/DecisionTree/blob/master/class_type_sequential_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from tensorflow.keras.preprocessing.text import one_hot

In [4]:
docs = ['well done!',
        'good work',
        'great effor',
        'nice work', 
        'exellen',
        'weak',
        'poor',
        'not good']

In [6]:
vocab_size = 100
encoded_docs = [one_hot(d, vocab_size) for d in docs]
print(encoded_docs)

[[39, 70], [17, 40], [61, 31], [34, 40], [4], [38], [6], [40, 17]]

In [7]:
#make features standard weight, they need to be the same

In [8]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
ind_vars = pad_sequences(encoded_docs)

In [12]:
ind_vars #0 is nothing

array([[39, 70],
       [17, 40],
       [61, 31],
       [34, 40],
       [ 0,  4],
       [ 0, 38],
       [ 0,  6],
       [40, 17]], dtype=int32)

In [16]:
import pandas as pd
import numpy as np

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, SimpleRNN
max_words = np.max(ind_vars) #grabs the largest encoded value
model= Sequential()
model.add(Embedding(max_words, 100, input_length=ind_vars.shape[1]))
model.add(SimpleRNN(32))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 2, 100)            7000
_________________________________________________________________
simple_rnn (SimpleRNN)       (None, 32)                4256
_________________________________________________________________
dense (Dense)                (None, 8)                 264
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 9
=================================================================
Total params: 11,529
Trainable params: 11,529
Non-trainable params: 0
_________________________________________________________________

In [20]:
dodgers = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Dodgers.csv')
dodgers.head()

         datetime  cars
0  4/10/2005 0:00    -1
1  4/10/2005 0:05    -1
2  4/10/2005 0:10    -1
3  4/10/2005 0:15    -1
4  4/10/2005 0:20    -1

In [22]:
dodgers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50400 entries, 0 to 50399
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  50400 non-null  object
 1   cars      50400 non-null  int64
dtypes: int64(1), object(1)
memory usage: 787.6+ KB

In [23]:
dodgers['datetime'] = pd.to_datetime(dodgers['datetime'])
dodgers

                 datetime  cars
0     2005-04-10 00:00:00    -1
1     2005-04-10 00:05:00    -1
2     2005-04-10 00:10:00    -1
3     2005-04-10 00:15:00    -1
4     2005-04-10 00:20:00    -1
...                   ...   ...
50395 2005-10-01 23:35:00    -1
50396 2005-10-01 23:40:00    -1
50397 2005-10-01 23:45:00    -1
50398 2005-10-01 23:50:00    -1
50399 2005-10-01 23:55:00    -1

[50400 rows x 2 columns]

In [ ]:
dodgers.plot(x = )

In [24]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(dodgers['cars'], test_size=0.2, shuffle=False)

In [25]:
train.shape

(40320,)

In [ ]:
#sequential form: 123 predict 4, 234 predict 5, 345 predict 5

In [28]:
def convert_data(data, step):
  X, Y = [], []
  for i in range(len(data)-step): #to prevent out of range i = start index
    d = i + step # d is and end index
    X.append(data[i:d,])
    Y.append(data[d,])
  return np.array(X), np.array(Y)

In [ ]:
step = 3
X_train, y_train = convert_data(train.value, test)
X_train

In [ ]:
X_train[-1]

In [ ]:
y_train[1]

In [ ]:
train.tail(5)

In [ ]:
y_train[-2]

In [ ]:
X_train.shape

In [ ]:
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
X_test = np.reshape(X_train, )

In [ ]:
X_train.shape

In [ ]:
model = Sequential()
model.add(SimpleRNN(units=32, input_shape=(X_train.shape[1], X_train.shape[2]), ))